<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Assignment List</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Assignment List</h1>
<a href="addAssignment">Add Assignments</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Supervisor</th>
            <th></th>
        </tr>
        <tr th:each ="assignment : ${assignments}">
            <td th:utext="${assignment.title}">...</td>
            <td th:utext="${assignment.supervisor}">...</td>
            <td><a th:href="@{/showAssignmentUpdateForm/{id}(id=${assignment.id})}">Update</a>
                <a th:href="@{/deleteAssignment/{id}(id=${assignment.id})}">Delete</a></td>

        </tr>
    </table>
</div>
</body>
</html>